<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../static/script.js"></script>
</head>
<body>
  <div class="container">
    <h1>Auto-Pilot FloraFlow</h1>

    <div class="sensor-readings">
      <p id="temperature">Temperature: </p>
      <p id="humidity">Humidity: </p>
      <p id="moisture">Moisture: </p>
      <p id="pump_status">Pump Status: </p>
    </div>

    <div class="pump-control">
      <input type="number" id="pump_trigger" placeholder="Enter Pump Trigger Level">
      <button onclick="setPumpTrigger()">Set Pump Trigger</button>
    </div>

    <div class="moisture-chart">
      <canvas id="moisture_chart" width="400" height="200"></canvas>
      
    </div>
  </div>
</body>
</html>
